*{
    margin: 0;
    padding: 0;
}
.Recpie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.placeholder{
    width: 120px;
    height: 120px;
    margin: 200px;
    opacity: 50%;
   
}